<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.hse.fmcs.tickgame">

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:banner="@drawable/app_banner"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:isGame="true"
        android:label="TickBattle"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">

        <activity
            android:name=".activities.RoomActivity"
            android:exported="true"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:name=".activities.GameActivity"
            android:exported="true"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".activities.StartActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>